
{% macro DistributeForm(file_id, targets) %}
<div id="dist-form-{{file_id}}">
  <form id="dist-submit" method="post" enctype="multipart/form-data">

    <input type="hidden" name="file" value="{{ file_id }}">
  
    <legend>Choose targets</legend>

    {% for id, parameters in targets.iteritems() %}
    {% set name = parameters['name'] %}
    <label class="checkbox">
      <input type="checkbox" name="target" value="{{ id }}" checked>{{ name }}
    </label>
    {% endfor %}
    
    <br>
    <input type="submit">
  </form>
</div>
{% endmacro %}
