{% extends "base.html" %}

{% import "FileStash.html" as FileStash %}

{% block content %}

<form action="" method=post enctype=multipart/form-data>

  <legend>File to transfer</legend>
  {{ FileStash.FileStash(file_stash, False) }}
  <input type="hidden" name="file" value="{{ file_stash[0]['id'] }}">
  
  <legend>1. Choose targets</legend>

  {% for id, parameters in targets.iteritems() %}
  {% set name = parameters['name'] %}
  <label class="checkbox">
    <input type="checkbox" name="target" value="{{ id }}" checked>{{ name }}
  </label>
  {% endfor %}

  <br>
  <legend>2. Fire in the hole!</legend>
  <input type="submit" action="upload">
</form>

{% endblock %}
