
{% import "distribute.html" as DistributeForm %}
{% macro FileStash(files, actions, targets) %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			{% if actions %}
			<td> Actions </td>
			{% endif %}
			<td> Name </td>
			<td> Size </td>
			<td> Upload date</td>
		</tr>
	</thead>
	<tbody>
		{% for file in files %}
			{% set original_filename = file['original_filename'] %}
			{% set id = file['id'] %}
			{% set size = file['size'] %}
			{% set timestamp = file['timestamp'] %}
			<tr id="file-info-{{id}}">
				{% if actions %}
				<td>
					<span class="btn btn-default dist-button">Distribute</span>
				</td>
				{% endif %}
				<td>
					{{ original_filename }}
				</td>
				<td>
					{{ size }}
				</td>
				<td>
					{{ timestamp }}
				</td>
			</tr>
			<tr class="init-invisible">
			  <td>
			    {{ DistributeForm.DistributeForm(id, targets) }}
			  </td>
			  <td></td><td></td><td></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script>
$(function(){
		
	//Adding click event handlers for distribution buttons
	$("span.dist-button").click(function(){
            var $This = $(this);
            var parentTableRow = $This.parent().parent();
            var fileId = parentTableRow.attr('id').split('-')[2];
            var distForm = $("#dist-form-" + fileId);
            //distForm.toggle();
            
            //Paste the distribution form right after the row and show
            parentTableRow.next().toggle();
	});
	
});
</script>
{% endmacro %}
