
{% macro SendorJob(tasks) %}
<table class="table table-striped">
  <tbody>
    {% for task in tasks %}
    {% set id = task['id'] %}
    {% set description = task['description'] %}
    {% set state = task['state'] %}
    {% set details = task['details'] %}
    <tr>
      <td>
	<div>
	  {{description}}
	</div>
	<div>
	  <pre id="task-details-{{id}}">{% if details != "" %}{{details}}{% endif %}</pre>
	</div>
      </td>
      <td>
	{% if state == 'not_started' %}
	<button id ="{{id}}" type="button" disabled="disabled" class="btn btn-default">Not started</button>
	{% elif state == 'in_progress' %}
	<button id ="{{id}}" type="button" disabled="disabled" class="btn btn-warning">In progress</button>
	{% elif state == 'completed' %}
	<button id ="{{id}}" type="button" disabled="disabled" class="btn btn-success">Done</button>
	{% elif state == 'failed' %}
	<button id ="{{id}}" type="button" disabled="disabled" class="btn btn-danger">Failed</button>	
	{% elif state == 'canceled' %}
	<button id ="{{id}}" type="button" disabled="disabled" class="btn btn-inverse">Canceled</button>	
	{% else %}
	Error: Unknown state!
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
