
{% extends "base.html" %}

{% import "SendorJob.html" as SendorJob %}
{% import "FileStash.html" as FileStash %}

{% block content %}

<a href="upload.html" class="btn btn-default">Upload file</a>
<a href="distribute.html" class="btn btn-default">Distribute file</a>
<a href="file_stash.html" class="btn btn-default">View uploaded files</a>
<br>

<div>
<h2> Latest uploaded file </h2>
{% if file_stash %}
{{ FileStash.FileStash(file_stash) }}
{% else %}
 apa
{% endif %}

</div>

<h2> Pending jobs </h2>
<div>
{% for job in pending_jobs %}
{{ SendorJob.SendorJob(job) }}
{% endfor %}

<h2> Current job </h2>

{% if current_job %}

<a href="cancel.html" class="btn btn-primary">Cancel this job</a>

{{ SendorJob.SendorJob(current_job) }}
{% endif %}

<h2> Past jobs </h2>

{% for job in past_jobs %}
{{ SendorJob.SendorJob(job) }}
{% endfor %}

{% endblock %}
