
<table class="table table-striped">
  <tbody>
    {% for task in tasks %}
    {% set description = task['description'] %}
    {% set state = task['state'] %}
    <tr>
      <td>
	{{description}}
      </td>
      <td>
	{% if state == 'not_started' %}
	<button type="button" disabled="disabled" class="btn btn-default">Not started</button>
	{% elif state == 'in_progress' %}
	<button type="button" disabled="disabled" class="btn btn-warning">In progress</button>
	{% elif state == 'completed' %}
	<button type="button" disabled="disabled" class="btn btn-success">Done</button>
	{% elif state == 'failed' %}
	<button type="button" disabled="disabled" class="btn btn-danger">Failed</button>	
	{% else %}
	Error: Unknown state!
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
