div.header-container{
	background: linear-gradient(20deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	min-height: 100px;
	padding-top: 40px;
}
span.header{
	font-size: 60px;
	color: white;
}

h2#file-stash-h{
	cursor: pointer;
}
div#file-stash-div{
	display: none;	
}
tr.init-invisible{
        display: none;
}